*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    width: 70%;
    background-color: rgb(200, 196, 204);  
}
.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 20px 0;
}
.main-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 30px;
    margin-top: 50px;
}
.card{
    background-color: #fff;
    border-radius: 5px;
    transition: transform .3s;
}
.card:hover{
    transform: translateY(5px);
    cursor: pointer;
}
img{
    width: 30%;
    border-radius: 50%;
    margin-left: 25px;
    margin: 15px 0 15px 0px;
}
.content{
    margin-right: 25px;    
}
.inside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background : rgba(100, 100, 100, 0.4);
}
.overlay-card{
    background-color: rgb(173, 126, 126);
    width: 20%;
    border-radius: 5px;
    margin : 11% auto auto;
}
.overlay-img{
    width: 30%;
    margin-top: 40px;
}
.overlay-inside{
    text-align: center;
    position: relative;
}
button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(173, 126, 126);
    border: none;
    cursor: pointer;
}
.overlay-content p,.overlay-content h2{
    margin-bottom: 10px;
}
.line{
    border-bottom: 1px solid rgb(97, 92, 92);
    margin: 20px 30px;
}
.overlay-content{
    padding-bottom: 20px;
}
.hidden{
    display: none;
}
.left-arrow, .right-arrow{
    position: absolute;
    width: 10%;
    font-size: 20px;
}
.right-arrow{
    right: 0;
    top: 50%;
}
.left-arrow{
    top: 50%;
}
.right-arrow:hover, .left-arrow:hover{
    cursor: pointer;
}